<div
  class="w-full h-10 flex justify-between items-center bg-white/20 border-b border-white p-10 my-2"
>
  <p>{{ task.title }}</p>
  <div>
    <button
      (click)="onToggleModal()"
      class="py-2 px-4 text-white bg-green-600 rounded-xl mr-1"
    >
      Edit
    </button>
    <button
      class="py-2 px-4 text-white bg-red-600 rounded-xl"
      (click)="onDeleteTask(task.id)"
    >
      Delete
    </button>
  </div>
</div>
<app-edit-modal
  *ngIf="isToggled"
  [isToggled]="isToggled"
  (onToggle)="onToggleModal()"
  (onUpdate)="onUpdateTask($event)"
  [title]="task.title"
></app-edit-modal>
